/* 푸터영역 */
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_info {
  padding: 50px 0;
}
.footer_info h2 {
  width: 150px;
}
.footer_info ul {
  padding: 15px 0;
}
.footer_info ul li {
  display: inline;
  padding-right: 16px;
  position: relative;
  white-space: nowrap;
}
.footer_info ul li a {
  color: #858585;
}
.footer_info ul li::after {
  content: "";
  width: 1px;
  height: 11px;
  background: #858585;
  position: absolute;
  top: 2px;
  right: 5px;
}
.footer_info ul li:last-child::after {
  width: 0;
  height: 0;
}
.footer_info address p {
  color: #858585;
  padding-bottom: 15px;
  word-break: keep-all;
}

.footer_info address p span.bar2 {
  position: relative;
  padding-right: 18px;
}
.footer_info address p span.bar2::after {
  content: "";
  width: 1px;
  height: 11px;
  background: #858585;
  position: absolute;
  top: 2px;
  right: 5px;
}

.footer_sns {
  padding-top: 33px;
}
.footer_sns ul {
}
.footer_sns ul li {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-left: 3px;
}
.footer_sns ul li.s1 {
  background-position: 0 -267px;
}
.footer_sns ul li.s2 {
  background-position: -29px -267px;
}
.footer_sns ul li.s3 {
  background-position: -58px -267px;
}
.footer_sns ul li.s4 {
  background-position: -87px -267px;
}
.footer_sns ul li.s5 {
  background-position: -116px -267px;
}
.footer_sns ul li.s6 {
  background-position: -145px -267px;
}

.footer_sns ul li.s1:hover {
  background-position: 0 -238px;
}
.footer_sns ul li.s2:hover {
  background-position: -29px -238px;
}
.footer_sns ul li.s3:hover {
  background-position: -58px -238px;
}
.footer_sns ul li.s4:hover {
  background-position: -87px -238px;
}
.footer_sns ul li.s5:hover {
  background-position: -116px -238px;
}
.footer_sns ul li.s6:hover {
  background-position: -145px -238px;
}
.footer_sns .tel {
  text-align: right;
  padding-top: 5px;
}
.footer_sns .tel a {
  color: #858585;
  font-size: 21px;
}
.footer_sns .tel a em {
  color: #fff;
}

/* 미이어 쿼리 */
@media (max-width: 1300px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer_sns {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #858585;
  }
  .footer_info {
    padding-top: 30px;
  }
  .footer_sns .tel {
    display: none;
  }
  .footer_info h2 {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
