/*  레이아웃 */
#header {
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}

#banner {
}
#movie {
  background-color: #d9d9d9;
  padding: 24px;
}
#event {
}
#opening {
}
#new {
}
#help {
}
#footer {
}
