/* 배너 영역 */

.banner_menu {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.banner_menu a:hover {
  color: #924af0;
}
.bm_left {
}
.bm_left ul {
  display: flex;
}
.bm_left ul li {
  /* margin-right: 30px; */
}
.bm_left ul li a {
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
  letter-spacing: -1px;
}
.bm_left ul li.total {
  margin-right: 10px;
}
.bm_left ul li.total a {
  border: 1px solid #fff;
  transition: all 0.3s;
  padding: 4px 10px 3px 10px;
  font-size: 14px;
}
.bm_left ul li.total a:hover {
  background-color: #ffffffa8;
  border: 1px solid #38116a;
  color: #38116a;
}
.bm_left ul li.total a i.fa-bars {
  padding-right: 5px;
}
.bm_right {
  display: flex;
}
.bm_right ul {
  display: flex;
}
.bm_right ul li {
}
.bm_right ul li a {
  display: inline-block;
  color: #fff;
  padding: 7px 14px;
  letter-spacing: -1px;
}
.bm_right ul:nth-child(2) {
  margin-left: 10px;
}
.bm_right ul:nth-child(2) li a {
  width: 103px;
  text-align: center;
  background-color: green;
  transition: all 0.3s;
}
.bm_right ul:nth-child(2) li.white a {
  background-color: #fff;
  color: #38116a;
  padding: 7px 15px;
  border: 1px solid #38116a;
}
.bm_right ul:nth-child(2) li.purple a {
  background-color: #38116a;
  margin-left: 20px;
  padding: 7px 15px;
  border: 1px solid #000;
}

.bm_right ul:nth-child(2) li.white a:hover {
  background-color: #6622be;
  color: #fff;
}
.bm_right ul:nth-child(2) li.purple a:hover {
  background-color: #924af0;
  color: #fff;
}

/* line */
.bm_left li {
  position: relative;
}
.bm_left li.line::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 0;
}
.bm_right li {
  position: relative;
}
.bm_right li.line::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  right: 0;
}

/* slider */
.slider {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 600px;
}
.slider .ss1 {
  height: inherit;
  background: url(../img/main_slider01.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss2 {
  height: inherit;
  background: url(../img/main_slider02.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss3 {
  height: inherit;
  background: url(../img/main_slider03.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss4 {
  height: inherit;
  background: url(../img/main_slider04.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss5 {
  height: inherit;
  background: url(../img/main_slider05.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss6 {
  height: inherit;
  background: url(../img/main_slider06.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss7 {
  height: inherit;
  background: url(../img/main_slider07.webp) no-repeat top center;
  background-size: cover;
}
.slider .ss8 {
  height: inherit;
  background: url(../img/main_slider08.webp) no-repeat top center;
  background-size: cover;
}
.slider h2 {
  font-size: 62px;
  font-weight: 500;
  margin-top: 200px;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #fff;
  position: relative;
}
.slider h2 em {
  display: block;
  font-weight: 100;
  font-size: 59px;
  letter-spacing: -1px;
}
.slider p {
  color: #fff;
  font-size: 27px;
  padding-top: 55px;
  letter-spacing: -1px;
}
.slider h2::after {
  content: "";
  width: 380px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -35px;
  left: 0;
}
